# 1. Manipulate using a list.
i) To add new elements to the end of the list.
ii) To reverse elements in the list.
iii) To display the same list of elements multiple times.
iv) To concatenate two lists.
v) To sort the elements in the list in ascending order.

In [1]:
list = ['a','b','c','d',8,9,68,73]
list

['a', 'b', 'c', 'd', 8, 9, 68, 73]

In [2]:
#i) To add new elements to the end of the list.

list.append(91) #to add single element to the list.

list.extend('l') #to add multiple elements to the list.
list

['a', 'b', 'c', 'd', 8, 9, 68, 73, 91, 'l']

In [3]:
#ii) To reverse elements in the list.

list.reverse()
list

['l', 91, 73, 68, 9, 8, 'd', 'c', 'b', 'a']

In [4]:
#iii) To display the same list of elements multiple times.

list = list*3
list

['l',
 91,
 73,
 68,
 9,
 8,
 'd',
 'c',
 'b',
 'a',
 'l',
 91,
 73,
 68,
 9,
 8,
 'd',
 'c',
 'b',
 'a',
 'l',
 91,
 73,
 68,
 9,
 8,
 'd',
 'c',
 'b',
 'a']

In [5]:
#iv) To concatenate two lists.

list1 = ['apple','Banana'] 
list2 = ['Cucumber','Dill'] 


res = list1 + list2 


print ("Concatenated list:\n" + str(res))

Concatenated list:
['apple', 'Banana', 'Cucumber', 'Dill']

In [6]:
#v) To sort the elements in the list in ascending order.

list = [9,6,8,5,1]
list.sort()
list

[1, 5, 6, 8, 9]

# 2. Write a python program to do in the tuples.
i) Manipulate using tuples.
ii) To add new elements to the end of the tuples.
iii) To reverse elements in the list.
iv) To display the elements of the same tuple multiple times.
v) To concatenate two tuples.
vi) To sort the elements in the list in ascending order.

In [9]:
Country = ['India','South korea','Japan'] # example1
Country

tup = (1,2,3,4) #example2
tup

my_tuple = (1, 2, 3, 4, 5) #example3
my_tuple

(1, 2, 3, 4, 5)

In [12]:
#i) Manipulate using tuples.

countries1 = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries1 + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'ShriLanka', 'Vietnam', 'India', 'China')

In [13]:
#ii) To add new elements to the end of the tuples.

s=(2,5,8)
s_append = s + (8, 16, 67)
print(s_append)

(2, 5, 8, 8, 16, 67)

In [14]:
#iii) To reverse elements in the list.

l = [1, 2, 3, 4, 5]

print(type(reversed(l)))   #using in built function (reverse)
for i in reversed(l):
    print(i)

<class 'list_reverseiterator'>
5
4
3
2
1

In [13]:
#iv) To display the elements of the same tuple multiple times.

repeated_tuple = my_tuple * 3
print("\nTuple repeated 3 times:", repeated_tuple)

Tuple repeated 3 times: (1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [14]:
#v) To concatenate two tuples.

tuple1 = (8, 9)
tuple2 = (10, 11)
concatenated_tuple = tuple1 + tuple2
print("\nConcatenated tuple:", concatenated_tuple)

Concatenated tuple: (8, 9, 10, 11)

In [15]:
#vi) To sort the elements in the list in ascending order.

tuple_ = (5, 2, 24, 3, 1, 6, 7)  
sorted_ = tuple(sorted(tuple_))  
print('Sorted Tuple :', sorted_)  
print(type(sorted_))

Sorted Tuple : (1, 2, 3, 5, 6, 7, 24)
<class 'tuple'>

# 3. Write a python program to implement the following using list.
i) Create a list with integers(minimum 10 numbers).
ii) How to display the last number in the list.
iii) Command for displaying the values from the list[0:4]
iv) Command for displaying the values from the list[2:]
v) Command for displaying the values from the list[:6]

In [16]:
#i) Create a list with integers(minimum 10 numbers).

List = [1,2,3,4,5,6,7,8,9,10,11,12]
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [17]:
#ii) How to display the last number in the list.

last_number = List[-1]
print("Last number in the List: ", last_number)

Last number in the List:  12

In [18]:
#iii) Command for displaying the values from the list[0:4]

List[0:4]

[1, 2, 3, 4]

In [19]:
#iv) Command for displaying the values from the list[2:]

List[2:]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [20]:
#v) Command for displaying the values from the list[:6]

List[:6]

[1, 2, 3, 4, 5, 6]

# 4. Write a Python program: tuple1 =(10,50,20,40,30)
i) To display the elements 10 and 50 from tuple1
ii)To display the length of a tuple1
iii)To find the minimum element from tuple1
iv)To add all elements in the tuple1
v) To display the same tuple1 multiple times.

In [21]:
tuple1 = (10,50,20,40,30)
tuple1

(10, 50, 20, 40, 30)

In [22]:
#i) To display the elements 10 and 50 from tuple1

tuple1[:2]

(10, 50)

In [23]:
#ii)To display the length of a tuple1

tuple_length = len(tuple1)
print("Length of the tuple: ", tuple_length)

Length of the tuple:  5

In [24]:
#iii)To find the minimum element from tuple1

min_element = min(tuple1)
print("Minimum element in tuple1: ", min_element)

Minimum element in tuple1:  10

In [25]:
#iv)To add all elements in the tuple1

sum_of_elements = sum(tuple1)
print("Sum of elements in tuple1: ", sum_of_elements)

Sum of elements in tuple1:  150

In [27]:
#v) To display the same tuple1 multiple times

result_tuple = tuple1 * 2
print("Tuple1 displayed", 2, "times: ", result_tuple)

Tuple1 displayed 2 times:  (10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program:
i) To calcuate the length of a string
ii) To reverse words in a string
iii) To display the same string multiple times
iv) To concatenate two strings
v) Str = "South India", using string slicing to display "India"

In [28]:
# i) To calculate the length of a string

string1 = "Hello, World!"
length = len(string1)
print("Length of string1: ", length)

Length of string1:  13

In [34]:
# ii) To reverse words in a string

string1[::-1]

'!dlroW ,olleH'

In [35]:
# iii) To display the same string multiple times

string2 = "Python"
n = 3  # Number of times to display the string
result_string = string2 * 3
print("String2 displayed", 3, "times: ", result_string)

String2 displayed 3 times:  PythonPythonPython

In [37]:
# iv) To concatenate two strings

string3 = " is a high level language"
concatenated_string = string2 + string3
print("Concatenated string: ", concatenated_string)

Concatenated string:  Python is a high level language

In [39]:
# v)Str = "South India", using string slicing to display "India"

str = "South India"
str[6:]

'India'

# 6. Perform the following:
i) Creating the directory.
ii)Accessing values and keys in the directory.
iii)Updating the directory using a function.
iv)Clear and delete the directory values.

In [44]:
#i) Creating the directory.

Dir = {'f_name':'Chandler','l_name':'Bing','age':28,'city':'New york'}

In [48]:
#ii)Accessing values and keys in the directory.

# Accessing values by keys
print("2. Accessing values by keys:")
print("f_name:", Dir['f_name'])
print("l_name:", Dir['l_name'])
print("Age:", Dir['age'])
print("City:", Dir['city'])

2. Accessing values by keys:
f_name: Chandler
l_name: Bing
Age: 28
City: New york

In [49]:
#iii)Updating the directory using a function.

def update_dictionary(dictionary, key, value):
    dictionary[key] = value

update_dictionary(Dir, 'occupation', 'Engineer')
print("\n3. Updated dictionary:", Dir)

3. Updated dictionary: {'f_name': 'Chandler', 'l_name': 'Bing', 'age': 28, 'city': 'New york', 'occupation': 'Engineer'}

In [51]:
#iv)Clear and delete the directory values.

Dir.clear()
print("\n4. Cleared dictionary: ", Dir)

4. Cleared dictionary:  {}

# 7. Python program to insert a number to any position in a list

In [52]:
List = [1, 2, 3, 4, 5]
number_to_insert = 6 
position = 2  
List.insert(position, number_to_insert)  
print("Updated list: ", List)

Updated list:  [1, 2, 6, 3, 4, 5]

# 8. Python program to delete an element from a list by index.

In [56]:
List = [1,2,3,4,5,6,7,8]
index_to_delete = 3  
deleted_element = List.pop(index_to_delete)
print("Updated list: ", List)
print("Deleted element:", deleted_element)

Updated list:  [1, 2, 3, 5, 6, 7, 8]
Deleted element: 4

# 9. Write a program to display a number from 1 to 100

In [11]:
n = int(input('Enter a number : '))
i = 1
while i <= n:
    print(i, end=" ")
    i+=1

Enter a number : 5
1 2 3 4 5

# 10. Write a python program to find the sum of all the items in a tuple.

In [59]:
tuple = (5,10,15,20,25,30,35,40,45,50)
sum_of_elements = sum(tuple)
print("Sum of elements in tuple: ", sum_of_elements)

Sum of elements in tuple:  275

# 11. Create a directory containing three lambda functions square,cube and square root.
i)E.g. dict= {'square':function for squaring,'cube':function for cube,'squareroot':function for square root}
ii) Pass the values(input from the user) to the functions in the directory respectively.
iii)Then add the outputs of each function and print it.

In [1]:
import math

func_dict = {
    'square': lambda x: x ** 2,
    'cube': lambda x: x ** 3,
    'squareroot': lambda x: math.sqrt(x)
}

num = float(input("Enter a number: "))
total = 0
for func_name, func in func_dict.items():
    result = func(num)
    print(f"{func_name} of {num} is {result}")
    total += result
print("Sum of the outputs:", total)

Enter a number: 9
square of 9.0 is 81.0
cube of 9.0 is 729.0
squareroot of 9.0 is 3.0
Sum of the outputs: 813.0

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.
ls=['hello','Dear','hOw','ARe','You']

In [62]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
result_words = []

# Iterate through the list
for word in ls:
    if len(word) >= 2 and word[1].isupper():
        result_words.append(word)
print("Words with a second uppercase character: ", result_words)

Words with a second uppercase character:  ['hOw', 'ARe']

# 13.A directory of names and their weights on earth is given. Find how much they will weigh on the moon. 
(use map and lambda functions) Formula: w wMoon = (wEarth*GMoon)/GEarth

i) #Weight of people in kg
   WeightOnEarth = {'John':45,'Shelly':65,'Marry':35}

ii)#Gravitational force on the Moon: 1.622m/s2
    GMoon = 1.622
    
iii)#Gravitational force on the Earth: 9.81m/s2
    GEarth = 9.81

In [16]:
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622
GEarth = 9.81
WeightOnMoon = map(lambda weight: (weight * GMoon) / GEarth, WeightOnEarth.values())
WeightOnMoonDict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))
for name, weight in WeightOnMoonDict.items():
    print(f"{name}'s weight on the moon: {weight:.2f} kg")

John's weight on the moon: 7.44 kg
Shelly's weight on the moon: 10.75 kg
Marry's weight on the moon: 5.79 kg

# Control Structures:

# 1. Write a python program to find the first N prime numbers.

In [65]:
def is_prime(number):
    if number <= 1:
        return False
    elif number <= 3:
        return True
    elif number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

def find_first_n_primes(N):
    prime_numbers = []
    number = 2
    while len(prime_numbers) < N:
        if is_prime(number):
            prime_numbers.append(number)
        number += 1
    return prime_numbers

N = int(input("Enter the value of N: "))
prime_list = find_first_n_primes(N)

print(f"The first {N} prime numbers are:")
print(prime_list)

Enter the value of N: 10
The first 10 prime numbers are:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic salary,HRA, TA and DA.Add these components to calculate the gross salary.Also, deduct 10% of salary from the gross salary to be paid as tax and display gross minus tax as net salary.

In [17]:
def computeSalary( basic, grade):
     
    hra = 0.2 * basic
    da = 0.5 * basic
    ta = 0.1 * basic
     
    if grade == 'A':
        allowance = 1700.0
    elif grade == 'B':
        allowance = 1500.0
    else:
        allowance = 1300.0;
     
    gross = round(basic + hra + da +
                    allowance - ta)
                     
    return gross
 
if __name__ == '__main__':
     
    basic = 10000
    grade = 'A'

    print(computeSalary(basic, grade))

17700

# 3. Write a python program to search for a string in the given list.

In [18]:
l = [8, 1.5, 'H', 'k', 'cat',]

s = 'cat' 
 
if s in l:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

cat is present in the list

# 4. Write a python function that accepts a string and calculates the number of upper-case letters and lower-case letter.

In [3]:
def count_upper_lower(string):
    
    upper_count = 0
    lower_count = 0
    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    
    return upper_count, lower_count
input_string = input("Enter a string: ")
upper, lower = count_upper_lower(input_string)

print(f"Number of uppercase letters: {upper}")
print(f"Number of lowercase letters: {lower}")

Enter a string: It was QUIET imaginary.
Number of uppercase letters: 6
Number of lowercase letters: 13

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [69]:
even_sum = 0
odd_sum = 0
for num in range(12, 38):
    if num % 2 == 0:  # Check if the number is even
        even_sum += num
    else:  # If not even, it's odd
        odd_sum += num
print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 312
Sum of odd numbers: 325

# 6.Write a python program to print the table of any number.

In [70]:
num = int(input("Enter a number to print its table: "))

# Define the range (e.g., up to 10)
table_range = 10

# Print the table
print(f"Table of {num}:")
for i in range(1, table_range + 1):
    product = num * i
    print(f"{num} x {i} = {product}")

Enter a number to print its table: 8
Table of 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

# 7.Write a python program to sum the first 10 prime numbers.

In [71]:
def is_prime(number):
    if number <= 1:
        return False
    elif number <= 3:
        return True
    elif number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_first_n_primes(N):
    prime_numbers = []
    number = 2
    while len(prime_numbers) < N:
        if is_prime(number):
            prime_numbers.append(number)
        number += 1
    return sum(prime_numbers)

N = 10  
sum_of_primes = sum_first_n_primes(N)

print(f"The sum of the first {N} prime numbers is: {sum_of_primes}")

The sum of the first 10 prime numbers is: 129

# 8. Write a python program to implement arithematic operations using nested if statement.

In [1]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")
result = 0

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:  
        result = num1 / num2
    else:
        print("Error: Division by zero")
else:
    print("Invalid operation")
print(f"Result: {result}")

Enter the first number: 8
Enter the second number: 9
Enter the operation (+, -, *, /): +
Result: 17.0

# 9. Write a python program to take the temperature in celsius and convert it to a Fahrenheit.

In [2]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = celsius_to_fahrenheit(celsius)
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 36
36.0 degrees Celsius is equal to 96.8 degrees Fahrenheit

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [3]:
def find_max_min(numbers):
    if not numbers:
        return None, None  # Return None for both max and min if the list is empty

    max_num = numbers[0]  
    min_num = numbers[0]

    for num in numbers:
        if num > max_num:
            max_num = num
        elif num < min_num:
            min_num = num

    return max_num, min_num

# Input list of numbers
numbers = [int(x) for x in input("Enter a list of numbers separated by spaces: ").split()]

# Find the maximum and minimum
max_number, min_number = find_max_min(numbers)

if max_number is not None and min_number is not None:
    print(f"Maximum number: {max_number}")
    print(f"Minimum number: {min_number}")
else:
    print("The list is empty.")

Enter a list of numbers separated by spaces: 8 5 18 9 11 16 23 6
Maximum number: 23
Minimum number: 5

# 11. Write a Python Program to print out the number of seconds in 30 day month 30 days, 24 hours in a day, 60 mins per day, 60 second per min.

In [3]:
days_in_month = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60
seconds_in_month = days_in_month * hours_per_day * minutes_per_hour * seconds_per_minute
print(f"Number of seconds in a 30-day month: {seconds_in_month}")

Number of seconds in a 30-day month: 2592000

# 12. Write a Python Program to print out the number of seconds in a year.

In [4]:
seconds_per_minute = 60
minutes_per_hour = 60
hours_per_day = 24
days_per_year = 365  
seconds_in_non_leap_year = seconds_per_minute * minutes_per_hour * hours_per_day * days_per_year
seconds_in_leap_year = seconds_in_non_leap_year + (seconds_per_minute * minutes_per_hour * hours_per_day)

print(f"Number of seconds in a non-leap year: {seconds_in_non_leap_year}")
print(f"Number of seconds in a leap year: {seconds_in_leap_year}")

Number of seconds in a non-leap year: 31536000
Number of seconds in a leap year: 31622400

# 13. A high speed train can travel at an avg speed of 150 mph, how long will it take a train travelling at this speed to travel from Londen to Glasgow which is 414 miles away.

In [5]:
average_speed_mph = 150  
distance_miles = 414     
time_hours = distance_miles / average_speed_mph
time_minutes = time_hours * 60
print(f"A high-speed train traveling at {average_speed_mph} mph will take approximately {time_hours:.2f} hours or {time_minutes:.2f} minutes to travel from London to Glasgow.")

A high-speed train traveling at 150 mph will take approximately 2.76 hours or 165.60 minutes to travel from London to Glasgow.

# 14.Write a Python Program that defines a variable called days_in_each_school_year and assign 192 to variable. The program should then print out the total hours that you spend in school from year 7 to year 11. if each day you spend 6 hours in school day_in_each_school_year = 192.

In [6]:
days_in_each_school_year = 192 
hours_per_day = 6 

total_hours_in_school = (days_in_each_school_year * 5) * hours_per_day 
print(f"Total hours spent in school from year 7 to year 11 : {total_hours_in_school} hours")

Total hours spent in school from year 7 to year 11 : 5760 hours

# 15. If the ages of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and the youngest of the three.

In [10]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

# Determine the eldest and youngest
if ram_age > sam_age and ram_age > khan_age:
    eldest = "Ram"
elif sam_age > ram_age and sam_age > khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"

if ram_age < sam_age and ram_age < khan_age:
    youngest = "Ram"
elif sam_age < ram_age and sam_age < khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"

print(f"The eldest among Ram, Sam, and Khan is: {eldest}")
print(f"The youngest among Ram, Sam, and Khan is: {youngest}")

Enter Ram's age: 28
Enter Sam's age: 15
Enter Khan's age: 30
The eldest among Ram, Sam, and Khan is: Khan
The youngest among Ram, Sam, and Khan is: Sam

# 16.Write a python program to rotate a list by the right n times with and without slicing technique.

In [5]:
myList =[5, 20, 34, 67, 89, 94, 98, 110]
print("List before rotation = ",myList)
n = 4
# Rotating the List by slicing
myList = (myList[len(myList) - n:len(myList)] + myList[0:len(myList) - n])
print("Updated List after rotation = ",myList)

List before rotation =  [5, 20, 34, 67, 89, 94, 98, 110]
Updated List after rotation =  [89, 94, 98, 110, 5, 20, 34, 67]

In [6]:
def rightRotate(lists, num):
    output_list = []
 
    
    for item in range(len(lists) - num, len(lists)):
        output_list.append(lists[item])

    for item in range(0, len(lists) - num):
        output_list.append(lists[item])
 
    return output_list
 #without using slicing
rotate_num = 3
list_1 = [1, 2, 3, 4, 5, 6]
 
print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

# 17.Python program to print pattern
1 1 1 1 2 1 1 3 3 1 1 4 6 4 1 1 5 10 10 5 1 1 6 15 20 15 6 1

In [7]:
def print_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

# set rows
rows = 7
print_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [8]:
# number of rows
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [9]:
print("Print equilateral triangle ")
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
   
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Print equilateral triangle
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [10]:
word = "Python"
x = ""
for i in word:
    x += i
    print(x)

P
Py
Pyt
Pyth
Pytho
Python